/* 1280px以上 */
@media (min-width: 1280px) {

}

/* 1280px未満 */
@media (max-width: 1279px) {
    h1{
        color: blue !important;
        font-size: 30px!important;
    }
  div.msselector-filter-row {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem 0.25rem!important;
  }
  .msselector-filter-group {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    width: auto;
    margin-bottom: 0.3rem;
    gap: 0.3rem;
  }
  .cost {
    order: 2;
    margin-bottom: 0;
  }
  .msselector-filter-group > * {
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
  }
  .msselector-filter-group button{
    font-size:1.2rem;
  }
  .msselector-search-box {
    display: inline-flex;
    width: auto;
    vertical-align: middle;
    margin-left: auto;
    order: 1;
  }
  .ms-list-container {
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
  box-sizing: border-box;
  }
  .msselector-search-box {
    margin-left: auto !important;
  }
}

/* 768px未満 */
@media (max-width: 767px) {

    h1{
        display: none;
        color: red!important;
    }
    .msselector-filter-group{
      overflow-x: scroll;
    }
    .zokusei,.cost,.kensaku{
      button{
        font-size:15px;
        flex:none;
        height: auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 35px;
      }
    }
    .zokusei{    
      flex-flow: row nowrap;
      overflow-x: scroll;
    }
    .cost{
      flex-flow: row nowrap;
      overflow-x: scroll;
    }
    .kensaku{
      margin-top: 10px;
      width: 100%;
      order:3;
      input{
        max-width: 100%!important;
        width: 100%;
      }
    }

}